django==5.0.4
djangorestframework==3.15.1
django-cors-headers==4.3.1
channels==4.1.0
channels-redis==4.2.0
celery==5.3.6
redis==5.0.4
psycopg2-binary==2.9.9
python-dotenv==1.0.1
langgraph==0.1.14
langchain==0.2.5
langchain-openai==0.1.8
langchain-community==0.2.5
dj-database-url==2.1.0
uvicorn[standard]>=0.30.0
gunicorn==22.0.0
tavily-python
reportlab==4.2.0